<%- include("./partials/header") %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Contact us</h1>
            <p><%= contactContent %></p>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>